@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background-color: #f7e8d6;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}